{% extends "pages/base.html" %}
{% block title %} Add {% endblock %}
{% block content %}
{% if device%}
<div class="header--home">
  <a href="" class="header__logo-section">
       <a href="/home" style="color: #333;">
      <i class="fa-solid fa-house-laptop header__logo--home"></i>
    </a>
    <span class="header__name--home">
      Teaching Equipment Management
      <span class="header__name--home">
        <i class="fa-solid fa-chevron-right"></i>
        Đăng ký mượn thiết bị/phòng
      </span>
    </span>
  </a>
</div>
<div class="contain">
  <form method="post" action="{% url 'home:add' %}" class="content--edit">
      {% csrf_token %}
      <input type="hidden" name="userId" id="userId" value="{{ device.userId_id|safe }}">
    <p class="content--edit__header">Thông tin đăng ký</p>
    <div class="content--edit__info">
      <div class="info__item">
        <span>Tên thiết bị: </span>
        <input type="text" name="name" id="name" value="{{ device.name|safe }}" placeholder="Nhập tên thiết bị/phòng học">
      </div>

      <div class="info__item">
        <span>Lớp sử dụng: </span>
        <input type="text" name="code" id="code" value="{{ device.code|safe }}" placeholder="Nhập lớp sẽ sử dụng thiết bị">
      </div>

      <div class="info__item">
        <span>Ngày sử dụng: </span>
        <input type="date" name="unit" id="unit" value="{{ device.unit|safe }}">
      </div>

      <div class="info__item">
        <span>Tiết sử dụng: </span>
        <!-- <input type="text" name="price" id="price" value="{{ device.price|safe }}" placeholder="Giá thiết bị"> -->
        <select name="" id="" class="">
          <option value="" class="">Tiết một</option>
          <option value="" class="">Tiết hai</option>
          <option value="" class="">Tiết ba</option>
          <option value="" class="">Tiết bốn</option>
          <option value="" class="">Tiết năm</option>
        </select>
      </div>
      <input type="hidden" name="capnhat" id="capnhat" value="{{ device.id}}">
      <button class="btn" type="submit">Đăng ký</button>
    </div>
  </form>
</div>
{% else %}
  <div class="header--home">
    <div class="header__logo-section">
         <a href="/home" style="color: #333;">
      <i class="fa-solid fa-house-laptop header__logo--home"></i>
    </a>
      <span class="header__name--home">
        Teaching Equipment Management
        <span class="header__name--home">
          <i class="fa-solid fa-chevron-right"></i>
          Thêm mới thiết bị
        </span>
      </span>
    </div>
  </div>
  <div class="contain">
    <form method="post" action="{% url 'home:add' %}" class="content--edit">
      {% csrf_token %}
      <p class="content--edit__header">Thông tin thiết bị/phòng học</p>
      <div class="content--edit__info">
        <div class="info__item">
          <span>Tên thiết bị: </span>
          <input type="text" name="name" id="name" placeholder="Nhập tên thiết bị/phòng học">
        </div>

        <div class="info__item">
          <span>Mã hiệu: </span>
          <input type="text" name="code" id="code" placeholder="Nhập mã hiệu của thiết bị/phòng học">
        </div>

        <div class="info__item">
          <span>Đơn vị: </span>
          <input type="text" name="unit" id="unit" placeholder="Đơn vị tính">
        </div>

        <div class="info__item">
          <span>Giá nhập: </span>
          <input type="text" name="price" id="price" placeholder="Giá thiết bị">
        </div>

        <div class="info__item">
          <span>Số lượng: </span>
          <input type="text" name="quantity" id="quantity" placeholder="Số lượng nhập">
        </div>
        
        <div class="info__item">
          <span>Trạng thái: </span>
          <input type="text" name="status" id="status" placeholder="Trạng thái">
        </div>

        <div class="info__item">
          <span>Ngày nhập: </span>
          <input type="text" name="date" id="date" placeholder="Ngày nhập thiết bị VD: 2023-11-01">
        </div>

        <div class="info__item">
          <span>Hạn sử dụng: </span>
          <input type="text" name="date" id="date" placeholder="Nhập ngày hết hạn sử dụng thiết bị VD: 2023-11-01">
        </div>

        <div class="info__item">
          <span>Xuất xứ: </span>
          <input type="text" name="location" id="location" placeholder="Xuất xứ thiết bị">
        </div>
        <input type="hidden" name="userId" id="userId" value="{{id}}">
        <button class="btn" type="submit">Thêm mới</button>
      </div>
    </form>
  </div>
  {% endif %}
 
{% endblock %}
