{% extends "pages/base.html" %}
{% block title %} ThongKe {% endblock %}
{% block content %}
{% load static %}
<div class="header--home">
  <div class="header__logo-section">
    <i class="fa-solid fa-house-laptop header__logo--home"></i>
    <span class="header__name--home">Teaching Equipment Management</span>
  </div>
  <div class="user">
    <div class="user__role">
      {% if role %}
      <i class="fa-solid fa-users-gear"></i>
      <span>quản trị viên</span>
      {% else %}
      <i class="fa-solid fa-users"></i> 
      <span>người dùng cơ bản</span> 
     {% endif %}
    </div>
    <div class="user__noti">
      <i class="fa-solid fa-bell"></i>  
      <ul class="user__noti__history">
        {% for tb in thongbao %}
        <li>
          <p class="noti__history__device">
            Trả thiết bị/phòng: 
            <span>
              {{tb.deviceId.name}}
            </span>
          </p>
          <p class="noti__history__info">
            người dùng<span> {{tb.userId.name}}</span> đã trả thiết bị vào 
            <span> {{tb.tiet}}</span>
            <span> Ngày: {{tb.tra}}</span>
          </p>
        </li>
        {% endfor %}
        <li>
          <a href="/thietbidangduocmuon" class="user__noti__link">
            xem chi tiết
          </a>
        </li>
      </ul>
    </div>
    <div class="user__avatar">
      <img src="{% static 'user-avatar-img.png' %}" alt="avatar">
      <i class="fa-solid fa-angle-down"></i>
      <ul class="user__avatar__option">
        <li>
          <form method="post" action="{% url 'home:login' %}">
            {% csrf_token %}
            <input type="hidden" name="out" id="out">
            <button type="submit">Đăng xuất</button> 
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="contain">
  <ul class="sidebar">
    <li class="user">
      <div class="user__avatar">
        <img src="{% static 'user-avatar-img.png' %}" alt="avatar">
      </div>
      <div class="user__info">
        <span>{{name}}</span>
        <div class="user__role--sidebar">
          {% if role %}
          <i class="fa-solid fa-users-gear"></i>
          <span>quản trị viên</span>
          {% else %}
          <i class="fa-solid fa-users"></i> 
          <span>người dùng cơ bản</span> 
         {% endif %}
        </div>
      </div>
    </li>

    <li class="sidebar__item">
      <a href="/home" class="sidebar__link">
        <i class="fa-solid fa-business-time"></i>
        <span class="">Mượn thiết bị</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/lab" class="sidebar__link">
        <i class="fa-solid fa-house-chimney-user"></i>
        <span class="">Phòng bộ môn</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/thietbidangduocmuon" class="sidebar__link sidebar__link--selected">
        <i class="fa-solid fa-house-chimney-user"></i>
        <span class="">Thiết bị đang được mượn</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/admins" class="sidebar__link">
        <i class="fa-solid fa-pen-to-square"></i>
        <span class="">Quản lý chung (QTV)</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/thongke" class="sidebar__link">
        <i class="fa-solid fa-table-list"></i>
        <span class="">Thống kê & báo cáo</span>
      </a>
    </li>
  </ul>

  <div class="content--home">
    

    <div class="content__device--admin">
      <table class="device__table--admin">
        <thead>
          <tr>
            <th>Tên thiết bị</th>
            <th>Người mượn</th>
            <th>Lớp mượn mượn</th>
            <th>Môn</th>
            <th>Tiết mượn</th>
            <th>Trả thiết bị</th>
          </tr>
        </thead>

        <tbody>
          {% for device in device1 %}
          <tr style="background-color: red;">
            <td>{{device.deviceId.name}}</td>
            <td>{{device.giaovien}}</td>
            <td>{{device.lop}}</td>
            <td>{{device.deviceId.mon}}</td>
            <td>Tiết: {{device.tiet}} Ngày: {{device.muon}}</td>
            <td>
              <form method="post" action="{% url 'home:thietbidangduocmuon' %}">
                {% csrf_token %}
                <input type="hidden" name="xoa" id="xoa" value="{{device.deviceId.id}}">
                <input type="hidden" name="idtra" id="idtra" value="{{device.id}}">
                <button type="submit" class= "btn--edit">
                  <i class="fa-solid fa-wrench"></i>
                </button> 
              </form>
            </td>
          </tr>
          {% endfor %}
          {% for device in device2 %}
          <tr>
            <td>{{device.deviceId.name}}</td>
            <td>{{device.giaovien}}</td>
            <td>{{device.lop}}</td>
            <td>{{device.deviceId.mon}}</td>
            <td>Tiết: {{device.tiet}} Ngày: {{device.muon}}</td>
            <td>
                <div class= "btn--edit">
                  Đã trả 
                </div> 
            </td>
          </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}