{% extends "pages/base.html" %}
{% block title %} ThongKe {% endblock %}
{% block content %}
<a href="/thongke">
  <h1>Thong ke</h1>
</a>
<a href="/home">
  <h1>home</h1>
</a>
<a href="/admins">
  <h1>admins</h1>
</a>
  <div>
    <span>
      <form method="post" action="{% url 'home:thongke' %}">
        {% csrf_token %}
        <select name="nam" id="nam">
          <option value="2021-2022">2021-2022</option>
          <option value="2022-2023">2022-2023</option>
          <option value="2023-2024">2023-2024</option>
        </select>
        <button type="submit">Lọc</button> 
        <span> test year-1-1 đến   year-12-31</span>
      </form>
    </span>
    <span>
      <form method="post" action="{% url 'home:thongke' %}">
        {% csrf_token %}
        <input type="text" placeholder="year-mm-dd" name="ngays" id="ngays">
        <input type="text" placeholder="year-mm-dd" name="ngaye" id="ngaye">
        <button type="submit">Lọc</button> 
        <span> test S = [year-mm-dd ; year-mm-dd) không lấy ngày cuối cùng, day1 ≤ day2</span>
      </form>
    </span>
    <span>
      <form method="post" action="{% url 'home:thongke' %}">
        {% csrf_token %}
        <select name="mon" id="mon">
          <option value=".QPAN.">Quốc Phòng An Ninh</option>
          <option value=".TH.">Toán</option>
          <option value=".LS.">Lịch sử</option>
          <option value=".NV.">Ngữ Văn</option>
          <option value=".ĐL">Địa Lý</option>
          <option value="GIATT">Giá treo tranh</option>
          <option value="VL.">Vật Lý</option>
          <option value=".SH.">Sinh Học</option>
          <option value=".HH">Hóa Học</option>
          <option value="TD">Thể Dục</option>
        </select>
        <button type="submit">Lọc</button> 
      </form>
    </span>
    <span>
      <form method="post" action="{% url 'home:thongke' %}">
        {% csrf_token %}
        <select name="giaovien" id="giaovien">
          <option value="Lop10A">Lớp 10 A</option>
          <option value="Lop10B">Lớp 10 B</option>
          <option value="Lop10C">Lớp 10 C</option>
          <option value="Lop11A">Lớp 11 A</option>
          <option value="Lop11B">Lớp 11 B</option>
          <option value="Lop11C">Lớp 11 C</option>
          <option value="Lop12A">Lớp 12 A</option>
          <option value="Lop12B">Lớp 12 B</option>
          <option value="Lop12C">Lớp 12 C</option>
          <option value="GV">Giáo Viên</option>
        </select>
        <button type="submit">Lọc</button> 
      </form>
    </span>
  </div>
  <form method="post" action="{% url 'home:thongke' %}">
    {% csrf_token %}
    <input type="hidden" name="e" id="e">
    <button type="submit">xuất excel</button> 
  </form>


  <table>
    <tr>
      <th>Name</th>
      <th>Trạng thái</th>
      <th>Còn</th>
      <th>Đơn vị</th>

      <th>Code</th>
      <th>Thời gian mượn</th>
      <th>Tiết</th>
    </tr>
    {% for device in device %}
      <tr>
        <td>{{device.deviceId.name}}</td>
        <td>{{device.deviceId.status}}</td>
        <td>{{device.deviceId.quantity}}</td>
        <td>{{device.deviceId.unit}}</td>

        <td>{{device.lop}}</td>
        <td>{{device.muon}}</td>
        <td>{{device.tiet}}</td>
      </tr>
      {% endfor %}
  </table>
  <h1> tổng tiết theo thống kê: {{sum}}</h1>

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
{% endblock %}