.content__soft{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.contetn__soft__option{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contetn__soft__option span{
	width: 170px;
}

.contetn__soft__option select{
	width: 200px;
	padding: 4px;
}

.contetn__soft__option button{
	width: 50px;
	padding: 4px;
}

.contetn__soft__option button:hover{
	cursor: pointer;
	opacity: 0.9;
}

.contetn__soft__option--date span{
	width: 100px;
}